*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header{
    width: 100%;
    padding: 28px 8%;
}
#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    
} 
.logo img{
    width: 200px;
}
#navlist {
    display: flex; 
    list-style: none;
    gap: 40px;

}
.navintem a { text-decoration: none;
    color: rgb(88, 88, 88);}

main { padding: 150px;
    box-sizing: border-box;
    font: 
     sans-serif;
}
#HTML{ font-weight: 600;
    color: rgb(245, 118, 0);

}
#CSS{
    font-weight: 600;
    color: rgb(62, 168, 255);
}